<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Creative Project 3</title>
  </head>

  <body>
    <div class="center">
      <div id="app">
        <h1>Song Lyric Generator</h1>
        <h3>Search by Artist and Song Name</h3>
          <input v-model="artistName" placeholder="Artist name">
          <input v-model="songName" placeholder="Song name">
          <br>
          <p>Artist: {{ artistName }}</p>
          <p>Song: {{ songName }}</p>
          <br>
          <button v-on:click="getLyrics">Get Lyrics</button>
          <br>
         <pre><p>{{ lyrics }}</p></pre>
      </div>

      <div class="footer">
        <p><a href="https://github.com/nateteahan/CreativeProject3.git"><img src="/GitHub_Logo.png" height="auto" width="80px"</img></p>
      </div>

  </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
